./Source/datasets/lexicon/* linguist-language=Python
./imgs/* linguist-language=Python
LICENSE linguist-language=Python
./Source/datasets/*pkl linguist-language=Python
*.txt linguist-language=Python
*.png linguist-language=Python
*.md linguist-language=Python
