language: generic 
sudo: required
dist: trusty

services:
  - docker

os:
  - linux

env:
  - JOB=check_style

before_install:
  # For pylint dockstring checker
  - sudo pip install pylint pytest astroid isort pre-commit
  - |
    function timeout() { perl -e 'alarm shift; exec @ARGV' "$@"; }

script:
  - "travis_wait 30 sleep 1800 &"
  - |
    # 43min timeout
    tools/build_script.sh ${JOB}
    if [ $? -eq 0 ] || [ $? -eq 142 ]; then true; else exit 1; fi;

notifications:
  email:
    on_success: change
    on_failure: always

