# Copyright (c) 2020 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# global settings 

runner:
  sync_mode: "async"  # sync / async /geo / heter
  thread_num: 16
  use_gpu: False
  
  model_path: "static_model.py"
  reader_type: "QueueDataset"  # DataLoader / QueueDataset / RecDataset
  pipe_command: "python reader.py"
  dataset_debug: False
  split_file_list: False

  train_data_dir: "../demo_data/train_data"
  train_reader_path: "reader"

  train_batch_size: 100  # 30000
  epochs: 5
  print_interval: 10   # 1000
  model_save_path: "output_model_tdm_demo"

# hyper parameters of user-defined network
hyper_parameters:
  # optimizer config
  optimizer:
    class: Adam
    learning_rate: 0.001
    strategy: async
 
  with_att: False
  # tree
  sparse_feature_num: 5171136
  node_emb_size: 24
  item_nums: 69
  fea_group: "20,20,10,10,2,2,2,1,1,1"

  start_sample_layer: 1
  seed: 0
  tdm_layer_counts: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,19,22,25,30,76,200]
  tree_name: "demo"
  tree_path: "../demo_data/tree.pb"
  with_hierachy: True
  topk: 100
